{% extends "UserAuthentication/base/base.html" %}

{% block content %}



<div class="flex flex-col md:flex-row items-center h-screen">
    <div
    class="items-center justify-center h-full md:w-1/2 hidden md:flex bg-gray-800"
  >
 <img src="" alt="Poster" border="0">
  </div>
    <div class="flex h-full bg-gray-900 md:w-1/2  justify-center items-center">
        
        <form action = {% url 'login' %} method = "post" hx-post="{% url 'login' %}" hx-push-url="true" hx-target="body" class="w-full md:w-3/4 items-center md:p-20" autocomplete="off">
            <h2 class="text-2xl font-bold mt-6 text-center text-white">Student Login</h2>

            {% if messages %} 

                {% for message in messages %} 
                    <h1 class="text-lg text-red-500 font-semibold">{{message}}
                    </h1>
                {% endfor %}

            {% endif %}

            {% csrf_token %}

            <div class="mb-4 text-white ">
                {% for field in form %} 
                    {{field.label}}
                    {{field}}
                {% endfor %}
            </div>
            <div class="flex items-center justify-between">
                <button
                    class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                    Login
                </button>
            </div>
            <div class="mt-4 text-center">
                <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
                    href="{% url 'register' %}">Don't have an account? Sign Up</a>
            </div>
        </form>
    </div>
    
</div>
{% endblock content %}