{% extends "UserAuthentication/base/base.html" %} {% block content %}

<div class="flex flex-col md:flex-row items-center h-[150vh] md:h-screen">
  <div
    class="flex h-full bg-white md:w-1/2 rounded mt-6 mb-8 mb-4 justify-center items-centerv overflow-y-auto"
  >

    <form
      action="{% url 'register' %}"
      method="post"
      class="w-full  items-center md:p-20"
      autocomplete="off"
      onsubmit="validateForm(event)"
      enctype="multipart/form-data"

    >

      <h2 class="text-2xl font-bold mt-6 text-center">
        Student Account Registration
      </h2>
      <div class=" text-center">
        <a
          class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800 mb-8"
          href="{% url 'login' %}"
          >Already have an account? Sign In</a
        >
      </div>
      {% csrf_token %} {% if form.errors %}
      <div class="alert alert-danger">
        <ul id="errorList" class="text-red-500">
          {% for field in form %} {% for error in field.errors %}
          <li><strong>{{ field.label }}:</strong> {{ error }}</li>
          {% endfor %} {% endfor %}
        </ul>
      </div>
      {% endif %}

      <div class="flex flex-col">
        {% for field in form %} {% if not forloop.counter|divisibleby:"2" %}
        <div class="flex space-x-4 w-full">
          {% endif %}

          <div class="w-1/2">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
          </div>
          {% if forloop.counter|divisibleby:"2" %}
        </div>

        {% elif forloop.last and not forloop.counter|divisibleby:"2" %}
    </div>


      {% endif %} {% endfor %}

      <input type="hidden" name="longitude" id ="longitude">
      <input type="hidden" name="latitude" id ="latitude">
    </div>
      <div class="flex items-center justify-between mt-4">
        <button
          class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit"
        >
          Submit
        </button>
      </div>

    </form>
  </div>
  <div
    class="items-center justify-center h-full bg-primary md:w-1/2 hidden md:flex bg-[#970029]"
  >
  <img src="/media/bh_banner.jpg" alt="BH Poster" border="0">

  </div>
</div>


<script>

{% endblock content %}
